<div id="{{row_item.row_id}}">

	<hr class="is-hidden-tablet">

	<h1 class="title is-size-2 is-size-3-touch has-text-centered features-title">Features</h1>

	<div class="features-table" >

		<div class="columns is-gapless is-multiline is-mobile features-table-items">
			{% for features_item in row_item.features %}
				<div class="column is-3-desktop is-half-touch" v-bind:class="{active: states[{{ loop.index - 1 }}].state}" @click="showDetail({{ loop.index }})" @mouseover="hoverState({{ loop.index - 1 }}, true)" @mouseleave="hoverState({{ loop.index - 1 }}, false)">
					<div class="features-table-item">
						<div>
							<div class="features-table-item-title"><span>{{ features_item.feature_name|raw }}</span></div>
							<div class="features-table-item-short-description">{{ features_item.short_description }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<transition name="fade">

			{% for features_item in row_item.features %}
				<div class="features-item-detail" v-if="detailActive === {{ loop.index }}" key="{{ loop.index }}">
					<div class="columns is-desktop is-gapless">
						<div class="column">
							<div class="features-table-item features-table-item-detail">
								<div>
									<div class="features-item-detail-close close-button" @click="hideDetail"></div>
									<div class="features-table-detail-title">{{ features_item.feature_name }}</div>
									<div class="">{{ features_item.long_description }}</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="features-item-image">
								<img sizes="(min-width: 900px) 512px, 100vw"
									 srcset="{{ TimberImage(features_item.image).src | resize(1024) }} 1024w,
									 		 {{ TimberImage(features_item.image).src | resize(612,372) }} 612w"
									 src="{{ TimberImage(features_item.image).src | resize(612,372) }}" />
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</transition>

			{% for features_item in row_item.features %}
				<div class="features-overlay" v-if="detailActive === {{ loop.index }}" key="{{ loop.index }}" @click="hideDetail"></div>
			{% endfor %}

	</div>

</div>
