<div
    class="heros hero3 {{row_item.menu_colour}}-menu"
    id="{{row_item.row_id}}"
>

    <img sizes="100vw"
         src="{{ TimberImage(row_item.image).src }}"
         srcset="{{ TimberImage(row_item.image).src | retina(2) }} 2x, {{ TimberImage(row_item.image).src | resize(1000) }} 1000w, {{ TimberImage(row_item.image).src | resize(500) }} 500w" alt="{{ row_item.image_mobile.alt }}">

    <div class="hero-text">
        <div class="container">
            <div class="columns is-centered is-mobile">
                <div class="column has-text-centered">
                    <h1>{{row_item.title}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
