<div
    class="two_column_text_row {{row_item.menu_colour}}-menu"
    id="{{row_item.row_id}}"
    style="background-color:{{row_item.background_colour}}"
>
    <div class="section">
        <div class="columns">
            <div class="column is-one-third {% if row_item.align_column == 'right' %}is-offset-one-third{% endif %}">
                <p>{{row_item.column_1.title}}</p>
                <p>{{row_item.column_1.text}}</p>
            </div>
            <div class="column is-one-third">
                <p>{{row_item.column_2.title}}</p>
                <p>{{row_item.column_2.text}}</p>
            </div>
        </div>
    </div>
</div>