{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} {{ post.title | lower }}" data-template="base.twig">
		<div class="site-wrap">

			<main class="body-content">

				{% block content %}
					Sorry, no content
				{% endblock %}

			</main>

			{% block footer %}
				<footer id="footer">
					<div class="section">
						<nav id="site-footer" class="site-footer" role="navigation">
							<div class="columns is-gapless">
								<div class="column is-half has-text-centered-mobile has-text-left-tablet">
									{% include "menu.twig" with {'menu': menu_footer.get_items} %}
								</div>
								<div class="column is-half has-text-centered-mobile has-text-right-tablet">
									<p><a href="https://www.google.com/maps/dir//132+Cremorne+St,+Cremorne+VIC+3121/@-37.8239576,144.9808016,15z/data=!4m8!4m7!1m0!1m5!1m1!1s0x6ad64290e7a4f9b7:0xaed34f504295cbc1!2m2!1d144.9901142!2d-37.8292032" target="_blank">132 Cremorne St, <br> Cremorne, VIC, 3121</a></p>
									<p><a href="tel:+6187647985">+61 (03) 8764 7985</a> <br><a href="mailto:hello@unionagency.com.au">hello@unionagency.com.au</a></p>
								</div>
							</div>
							<div class="columns is-gapless">
								<div class="column is-half has-text-centered-mobile has-text-left-tablet"><img src="{{ site.theme.link }}/img/union_wordmark_white.png" srcset="{{ site.theme.link }}/img/union_wordmark_white@2x.png 2x" alt="Union"></div>
								<div class="column is-half has-text-centered-mobile has-text-right-tablet">
									<p class="copyright">© Copyright 2018, UNION</p>
								</div>
							</div>
						</nav>
					</div>
				</footer>
				{{ function('wp_footer') }}
			{% endblock %}
		</div>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLR6V5"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
