{% extends "base.twig" %}

{% block head %}

<link rel="stylesheet" href="{{ site.theme.link }}/dist/vip.css" type="text/css" media="screen" />

<script type="text/javascript">



</script>

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

	<div class="container">
		<div class="vip-header">
			<div class="logo-left">
				<img src="{{ site.theme.link }}/img/vip/Desktop/Mercedes_Brand_WordMark.png" width="146">
			</div>
			<div class="logo-right">
				<img src="{{ site.theme.link }}/img/vip/Desktop/Mercedes_Brand_Roundel.png" width="54">
			</div>
		</div>
	</div>

	<div class="has-text-centered">
		<img src="{{ site.theme.link }}/img/vip/Desktop/Header_Image.jpg" class="is-hidden-mobile">
		<img src="{{ site.theme.link }}/img/vip/Mobile/Header_Image.jpg" class="is-hidden-tablet">
	</div>

	<section class="section">
		<div class="container">

			<div class="columns is-centered">
				<div class="column is-6">
					<div class="has-text-centered">
						<h1 class="title is-2">Thank you for your entry.</h1>

						<br>

						<div class="content">
							<p>The new Mercedes-Benz X-Class embodies how toughness has evolved for the 21st century. With effortless power, uncompromised safety, beautiful interiors, and the classical look and feel of Mercedes-Benz, the X-Class truly is the first of a new kind.</p>

							<p>We believe toughness today can be many things, and is not restricted by out-of-date stereotypes.Tough is principled, as much as powerful. Progressive, rather than aggressive. Standing up, instead of standing over. Listening, instead of talking.</p>
						</div>

						<br>
						<br>

						<div class="columns is-centered">
							<div class="column is-7-widescreen">

								<a href="{{ site.link }}" class="button is-outlined is-primary is-wide"><span class="has-text-white">Find out more</span></a>

							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="columns is-centered">
				<div class="column is-6">

				</div>
			</div>

		</div>

	</section>

{% endblock %}

{% block footer %}

	<footer id="footer">
		<div class="container">
			<nav id="site-footer" class="site-footer" role="navigation">
				<div class="columns is-gapless">
					<div class="column">
						<div class="is-hidden-mobile pace-loadin">
							<div class="">
								<div class="site-header-container">
									<ul>
										<li>
											<a href="#" class="is-info doco-button show-modal" data-modal-content="<div class=&quot;embed-container&quot;>
												<div class=&quot;footer-popup&quot;>
													<h2>Mercedes-Benz Vans Australia Pacific Pty Ltd</h2>
													ABN 16 618 413 362<br/>
													44 Lexia Place<br/>
													Mulgrave Victoria 3170</div>
												</div>">© Mercedes-Benz Vans Australia Pacific Pty Ltd</a>
										</li>
										<li>
											<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/cookies-vans.ngrb.html">Cookie Policy</a>
										</li>

										<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-254">
											<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/vans_privacy_statement.ngrb.html">Privacy Policy</a>
										</li>
										<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-255">
											<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/legal-notice-vans.ngrb.html">Legal Notice and Terms</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-narrow">
						<p class="has-text-centered is-hidden-tablet">Follow the X-Class journey on <br>Facebook and Instagram<br><br></p>

						<ul>
							<li><a href="https://www.facebook.com/MercedesBenzVansAustralia/" target="_blank"><img src="https://x-class.com.au/wp-content/themes/xclass/img/social-facebook.svg" alt="Facebook" width="16"></a></li>
							<li><a href="https://www.instagram.com/mercedesbenzvans_au/" target="_blank"><img src="https://x-class.com.au/wp-content/themes/xclass/img/social-instagram.svg" alt="Instagram" width="16"></a></li>
							<li><a href="https://www.youtube.com/channel/UCxQILZxkM4jUq9-nP1nn3kg" target="_blank"><img src="https://x-class.com.au/wp-content/themes/xclass/img/social-youtube.svg" alt="Youtube" width="16"></a></li>
						</ul>
					</div>
				</div>

				<div class="site-header-container is-hidden-tablet">
					<ul>
						<li>
							<a href="#" class="is-info doco-button show-modal" data-modal-content="<div class=&quot;embed-container&quot;>
								<div class=&quot;footer-popup&quot;>
									<h2>Mercedes-Benz Vans Australia Pacific Pty Ltd</h2>
									ABN 16 618 413 362<br/>
									44 Lexia Place<br/>
									Mulgrave Victoria 3170</div>
								</div>">© Mercedes-Benz Vans Australia Pacific Pty Ltd</a>
						</li>
						<li>
							<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/cookies-vans.ngrb.html">Cookie Policy</a>
						</li>

						<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-254">
							<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/vans_privacy_statement.ngrb.html">Privacy Policy</a>
						</li>
						<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-255">
							<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/legal-notice-vans.ngrb.html">Legal Notice and Terms</a>
						</li>
					</ul>
				</div>

				<!-- Copyright 2018 -->
			</nav>
		</div>
	</footer>

	{{ function('wp_footer') }}

{% endblock %}
