{% extends "base.twig" %}

{% block head %}

<link rel="stylesheet" href="{{ site.theme.link }}/dist/vip.css" type="text/css" media="screen" />

<script type="text/javascript">



</script>

{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

	<div class="container">
		<div class="vip-header">
			<div class="logo-left">
				<img src="{{ site.theme.link }}/img/vip/Desktop/Mercedes_Brand_WordMark.png" width="146">
			</div>
			<div class="logo-right">
				<img src="{{ site.theme.link }}/img/vip/Desktop/Mercedes_Brand_Roundel.png" width="54">
			</div>
		</div>
	</div>

	<div class="has-text-centered">
		<img src="{{ site.theme.link }}/img/vip/Desktop/Header_Image.jpg" class="is-hidden-mobile">
		<img src="{{ site.theme.link }}/img/vip/Mobile/Header_Image.jpg" class="is-hidden-tablet">
	</div>

	<section class="section">
		<div class="container">

			<div class="columns is-centered">
				<div class="column is-6">
					<div class="has-text-centered">
						<h1 class="title is-2">Enter the competition</h1>
						<p>For your chance to attend the official Australian X-Class launch event in Tasmania, please complete the form below:</p>
					</div>
				</div>
			</div>

			<div class="columns is-centered">
				<div class="column is-6">

				<form id="form13" name="form13" class="" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
		    action="https://thenewroyals.wufoo.eu/forms/z1s06ut02uk1gk/#public" @submit="checkForm" v-cloak>

					<div class="message-box">
						<div id="foli19" class="field has-text-centered">
						  <label class="label notranslate has-text-primary " id="title19" for="Field19">
								<span class="">TELL US IN 25 WORDS OR LESS, WHAT TOUGH MEANS TO YOU.</span>
								<span id="req_19" class="req">*</span>
								<br>
								<br>
							</label>
						  <div class="control">
						    <textarea
						    	v-validate="'required'"
					    		:class="{'input': true, 'is-danger': errors.has('Field19') }"
						    	id="Field19"
						    	name="Field19"
						    	class="textarea"
									spellcheck="true"
									tabindex="1"
									onkeyup=""
									placeholder="25 words or less.."
									required
								></textarea>
								<span v-show="errors.has('Field19')" class="help is-danger">Please provide a message</span>
						  </div>
						</div>
					</div>

					<div class="columns">
						<div class="column is-4-desktop">
							<div id="foli18" class="field">
								<label class="label notranslate" id="title18" for="Field18">
									Title
									<span id="req_18" class="req">*</span>
								</label>
								<div class="select is-wide">
									<select
									id="Field18"
									name="Field18"
									tabindex="2"
									v-validate="'required'"
					    		:class="{'input': true, 'is-danger': errors.has('Field18') }">
										<option
										value="" selected="selected">
											<span class="notranslate">Title</span>
										</option>
										<option
										value="Mr" >
											<span class="notranslate">Mr</span>
										</option>
										<option
										value="Mrs" >
											<span class="notranslate">Mrs</span>
										</option>
										<option
										value="Ms" >
											<span class="notranslate">Ms</span>
										</option>
										<option
										value="Miss" >
											<span class="notranslate">Miss</span>
										</option>
										<option
										value="Dr" >
											<span class="notranslate">Dr</span>
										</option>
									</select>
									<span v-show="errors.has('Field18')" class="help is-danger">Please provide a title</span>
								</div>
							</div>
						</div>
						<div class="column is-4-desktop">
							<div id="foli21" class="field">
							  <label class="label" id="title21" for="Field21">
									First Name
									<span id="req_21" class="req">*</span>
								</label>
							  <div class="control">
							    <input
										v-validate="'required'"
						    		:class="{'input': true, 'is-danger': errors.has('Field21') }"
										id="Field21"
										name="Field21"
										class="input"
										type="text"
										value=""
										maxlength="255"
										tabindex="3"
										required
										placeholder="John" >
										<span v-show="errors.has('Field21')" class="help is-danger">Please provide a First Name</span>
							  </div>
							</div>
						</div>
						<div class="column is-4-desktop">
							<div id="foli22" class="field">
							  <label id="title22" for="Field22" class="label">
									Surname
									<span id="req_22" class="req">*</span>
								</label>
							  <div class="control">
							    <input
										v-validate="'required'"
										:class="{'input': true, 'is-danger': errors.has('Field22') }"
										id="Field22"
										name="Field22"
										class="input"
										type="text"
										placeholder="Text input">
										<span v-show="errors.has('Field22')" class="help is-danger">Please provide a Surname</span>
							  </div>
							</div>
						</div>
					</div>
					<div class="columns">
						<div class="column is-half-desktop">
							<div id="foli3" class="field">
							  <label class="label" id="title3" for="Field3">
									Phone Number
									<span id="req_3" class="req">*</span>
								</label>
							  <div class="control">
							    <input
										v-validate="{ required: true, regex: /^(?:\+?(61))? ?(?:\((?=.*\)))?(0?[2-57-8])\)? ?(\d\d(?:[- ](?=\d{3})|(?!\d\d[- ]?\d[- ]))\d\d[- ]?\d[- ]?\d{3})$/ }"
										:class="{'input': true, 'is-danger': errors.has('Field3') }"
										id="Field3"
										class="input"
										type="text"
										name="Field3"
										tabindex="5"
										required
										placeholder="0400000000" type="tel" maxlength="255" value="">
									<span v-show="errors.has('Field3')" class="help is-danger">Please provide a valid Phone Number</span>
							  </div>
							</div>
						</div>
						<div id="foli12" class="column is-half-desktop">
							<div class="field">
							  <label class="label" id="title12" for="Field12">
									Postcode
									<span id="req_3" class="req">*</span>
								</label>
							  <div class="control">
							    <input
										v-validate="{ required: true, regex: /^[0-9]{4}$/}"
										:class="{'input': true, 'is-danger': errors.has('Field12') }"
										class="input"
										id="Field12"
										name="Field12"
										type="text"
										value=""
										maxlength="255"
										tabindex="8"
										required
										placeholder="Postcode">
										<span v-show="errors.has('Field12')" class="help is-danger">Please provide a valid Postcode</span>
							  </div>
							</div>
						</div>
					</div>

					<div id="foli10" class="field">
					  <label class="label" id="title10" for="Field10">
							Email
							<span id="req_10" class="req">*</span>
						</label>
					  <div class="control">
					    <input
								v-validate="{ required: true, email: true }"
								:class="{'input': true, 'is-danger': errors.has('Field12') }"
								id="Field10"
								name="Field10"
								type="email"
								spellcheck="false"
								class="input"
								value=""
								maxlength="255"
								tabindex="9"
								placeholder="john@email.com">
							<span v-show="errors.has('Field10')" class="help is-danger">Please provide a valid email address</span>
					  </div>
					</div>

					<br>
					<br>

					<div class="columns is-centered">
						<div class="column is-7-widescreen">
							<div class="has-text-centered">
								<button id="saveForm" name="saveForm" class="button is-outlined is-primary is-wide" type="submit" />
									<span class="has-text-white">Enter Now</span>
								</button>

							</div>
						</div>
					</div>



					<div class="is-hidden">
						<label for="comment">Do Not Fill This Out</label>
						<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
						<input type="hidden" id="idstamp" name="idstamp" value="XaQRutp/iTUiO93MrOdXmdL9Fthysr4eKl81hBRw4nQ=" />
					</div>

				</form>

				<p class="has-text-grey has-text-centered">View competition terms and conditions <a 	class="has-text-grey has-text-underlined show-modal"
				data-modal-content="<div class=&quot;section&quot;>
					<div class=&quot;container&quot;>
						<h2 class=&quot;title is-4&quot;>X-Class Launch Event Competition (eDM) Promotion Terms and Conditions</h2>
						<div class=&quot;content&quot;>
						<p ><span ><b>ELIGIBILITY AND HOW TO ENTER</b></span></p>
						<ol >
						  <li ><span >To be eligible, entrants must:</span></li>
						  <ol >
						    <li ><span >be an Australian resident aged 25 years or over;</span></li>
						    <li ><span >hold a full and valid Australian driver’s licence</span></li>
						    <li ><span >subscribed to receive X-Class communications by the promoter at https://www.forms.mercedes-benz.com.au/vans/RYI-X-Class</span></li>
						    <li ><span >receive the email from the Promoter personally inviting them to participate in this promotion; and</span></li>
						    <li ><span >clicking on the URL link in the email to the X-Class Launch Event Competition page and submitting an answer to the question in 25 words or less “What tough means to you” together with an entry form with their name, telephone number and email address;<span > </span></span></li>
						  </ol>
						</ol>
						<p ><span >and indicating that the entrant:</span></p>
						<ol >
						  <li ><span >agrees to these Terms and Conditions;</span></li>
						  <li ><span >is at least 25 years of age;</span></li>
						  <li ><span >consents to the Promoter sending commercial electronic messages to the individual (e.g. email, SMS, MMS and IM); and</span></li>
						  <li ><span >consents to the Promoter sending direct mail to the individual.</span></li>
						</ol>
						<ol >
						  <li ><span >The promotion commences at 9.00 am AEST on Thursday 8</span><span ><sup>th</sup></span><span > March and ends at 11:59 am AEST on Tuesday 13</span><span ><sup>th</sup></span><span > March.<span > </span></span></li>
						</ol>
						<ol >
						  <li ><span >Employees (and their immediate family members) of the Promoter and Related Bodies Corporate of the Promoter (as defined in the <i>Corporations Act 2001</i>), Mercedes-Benz Financial Services Australia Pty Ltd and authorised Mercedes-Benz, smart, Freightliner and FUSO dealerships and agencies associated with this promotion are ineligible to enter. Employees of other automotive manufacturers, importers, distributors or retailers are also ineligible to enter.<span >  </span>The term “<b>immediate family member</b>” means any of the following: spouse, ex-spouse, de-facto spouse, child or step-child (whether natural or by adoption), parent, step-parent, grandparent, step-grandparent, uncle, aunt, niece, nephew, brother, sister, step-brother, step-sister or first cousin.<span > </span></span></li>
						  <li ><span >Only one entry per person is permitted. If multiple entries are received from the same person, the first eligible entry will be valid and all subsequent entries will be invalid.<span > </span></span></li>
						  <li ><span >Answers submitted must be the entrant’s original work.<span >  </span>Entries containing obscene, offensive, defamatory, illegal, infringing, inappropriate and or unsuitable content as determined by the Promoter in its absolute discretion will be deemed invalid.</span></li>
						</ol>
						<p ><span ><b>PRIZES</b></span></p>
						<p ><span ></span><br></p>
						<ol >
						  <li ><span >30 prizes are available to be won in this promotion with a total prize pool value up to approximately $90,000 including GST (with each prize valued at approximately $3,000 including GST).</span></li>
						</ol>
						<ol >
						  <li ><span >Each prize includes, for 1 adult:<span > </span></span></li>
						  <ol >
						    <li ><span >an expert driving experience with the Mercedes-Benz Driving Academy and being amongst the first to drive the X-Class in Australia on Wednesday 11 April 2018;</span></li>
						    <li ><span >an exclusive invitation to the official Australian X-Class launch event at the Museum of Old and New Art, Hobart (including private tour) on Wednesday 11 April 2018;</span></li>
						    <li ><span >return economy class flights from your nearest capital city, and transfers;</span></li>
						    <li ><span >1 night’s accommodation (including complimentary breakfast) at The Grand Chancellor, located at 1 Davey St, Hobart TAS 7000.</span></li>
						  </ol>
						  <li ><span >Prizes must be taken as offered.<span >  </span>Prizes, or any unused portion of a prize, are non-refundable, not transferable and not exchangeable for cash or services or any of the Promoter’s or prize providers’ other products or services. If a prize (or part of a prize) is unavailable, the Promoter, in its absolute discretion, reserves the right to substitute the prize (or that part of the prize) with a prize to the equal value and/or specification, subject to any written directions from a regulatory authority.</span></li>
						  <li ><span >The winner must depart from and return to the same departure and arrival points. Airfares are subject to availability at time of booking. The itinerary is to be determined by the Promoter in agreement with the winner but in the event that agreement cannot be reached, the Promoter reserves the right to determine the itinerary in its absolute discretion. Frequent flyer/membership points will not form part of the prize.</span></li>
						  <li ><span >All spending money, additional meals, additional taxes, insurance, insurance excess, entry fees, vehicle hire, transport (including taxis and public transport), items of a personal nature, in-room charges, excess baggage, in-flight expenses, telecommunications expenses and all other ancillary costs are not included and must be borne by the winner.<span >  </span>The winner may be required to present their own credit card and identification at the time of accommodation check-in.</span></li>
						  <li ><span >Participation in the Mercedes-Benz Driving Experience program is subject to the winner producing a current and full Australian driver’s licence and the winner agreeing to and signing the Promoter’s standard Deed of Release and Indemnity before taking part in the program, a copy of which can be provided upon request.</span></li>
						  <li ><span >If the winner is not available to take the prize on Wednesday 11</span><span ><sup>th</sup></span><span > April, the winner will be deemed to have forfeited the prize and no compensation will be provided or paid for any forfeited prize. <span > </span></span></li>
						  <li ><span >The Promoter reserves the right to refuse to allow an eligible participant to take part in any or all aspects of the prize if it determines in its absolute discretion, that a participant is not in a legal position or mental or physical condition necessary to be able to safely participate in the taking of the prize.</span></li>
						  <li ><span >Prizes are subject to the standard terms, conditions and warranties applicable to each prize and service provider. <span >   </span></span></li>
						</ol>
						<p ><span ><b>DRAW</b></span></p>
						<ol >
						  <li ><span >This promotion is a game of skill only and chance plays no part in determining the winners.<span > </span></span></li>
						</ol>
						<ol >
						  <li ><span >The best answers to the question on the entry form, in the Promoter’s absolute discretion, shall be the winners.</span></li>
						  <li ><span >The winners will be chosen at 105-115 Dover Street, Cremorne, VIC 3121 and notified by no later than Friday 16</span><span ><sup>th</sup></span><span > March.<span > </span></span></li>
						</ol>
						<p ><span ><b>GENERAL TERMS AND CONDITIONS</b></span></p>
						<ol >
						  <li ><span >Information on eligibility, how to enter, prizes and draw form part of these Terms and Conditions. Participation in this promotion is deemed acceptance of these Terms and Conditions.</span></li>
						</ol>
						<ol >
						  <li ><span >Entrants are responsible for ensuring that any information provided as part of their entry is complete and correct.<span >  </span>Incomplete, incorrect, indecipherable, illegible or late entries will be invalid.<span > </span></span></li>
						  <li ><span >Entrants consent to the Promoter using the entrant's name, likeness, image and/or voice in the event that they are a winner (including photograph, video, and/or audio recording) in any media for an unlimited period without remuneration for the purpose of promoting this promotion (including any outcome), and promoting any products manufactured, distributed and/or supplied by the Promoter.</span></li>
						  <li ><span >Winners must produce proof of identity, age, driver’s licence and place of residence and may be required to sign a legal release and indemnity in a form determined by the Promoter in its absolute discretion.<span >  </span>If there is a dispute as to the identity of an entrant, the Promoter reserves the right, in its sole discretion, to determine the identity of the entrant.</span></li>
						  <li ><span >If this promotion is interfered with in any way or is not capable of being conducted as reasonably anticipated due to any reason beyond the reasonable control of the Promoter, the Promoter reserves the right, in its sole discretion and to the extent permitted by law: (a) to disqualify any entrant; or (b) subject to any written directions from a regulatory authority, to modify, suspend, terminate or cancel the promotion, as appropriate.</span></li>
						  <li ><span >Nothing in these Terms and Conditions limit, exclude or modify or purports to limit, exclude or modify the statutory consumer guarantees under the <i>Competition and Consumer Act</i> 2010 (Cth) or similar consumer protection laws in the States and Territories of Australia (“<b>Non-Excludable Guarantees</b>”). Except for any liability that cannot be excluded, including the Non-Excludable Guarantees, the Promoter (including its officers, employees and agents) is not responsible for and excludes all liability (including negligence), for any personal injury and any loss or damage (including loss of opportunity), whether direct, indirect, special, contingent or consequential, arising in any way out of the following: (a) the promotion; (b) any technical difficulties, equipment malfunction, access to or availability of<span >  </span>websites and applications (whether or not under the Promoter’s control); (c) any fraud, theft, unauthorised access or third party interference; (d) any entry or prize claim that is late, lost, altered, damaged or misdirected (whether or not after their receipt by the Promoter) due to any reason beyond the reasonable control of the Promoter; (e) any variation in prize value to that stated in these Terms and Conditions; (f) any tax liability incurred by a winner or entrant; or (g) taking or use of all or part of a prize (including without limitation any loss, damage, injury or death resulting from an accident).</span></li>
						  <li ><span >The Promoter collects personal information in order to conduct the promotion and may, for this purpose, disclose such information to third parties, including but not limited to agents, contractors, service providers, prize suppliers and, as required, to Australian regulatory authorities. Entry is conditional on providing this information which will be handled in accordance with the Promoter’s Privacy Policy available at <a href=&quot;http://www.mercedes-benz.com.au&quot;><span >www.mercedes-benz.com.au</span></a>.<span >  </span>Entrants can request access and correction of their personal information by contacting Mercedes-Benz Van Australia Pacific Pty Ltd at 44 Lexia Place, Mulgrave, Victoria, 3170.<span > </span></span></li>
						  <li ><span >If the entrant has consented (opted-in) to receive electronic commercial messages from the Promoter, the Promoter may, for an indefinite period, unless and until otherwise advised by an entrant to the contrary (e.g. through the use of an unsubscribe facility), use the entrant’s personal information for promotional, marketing, publicity, research and profiling purposes, including sending electronic commercial messages (e.g. email, SMS, MMS and IM) or telephoning the entrant. <span > </span></span></li>
						  <li ><span >All entries become the property of the Promoter (including any intellectual property in an entry) and will not be returned.</span></li>
						  <li ><span >The entrant releases and agrees to keep the Promoter indemnified and held harmless from any claim, cost, demand, tax, liability or damage (including legal costs on a full indemnity basis) suffered or incurred by the Promoter arising out of the entrant’s: (a) participation in the promotion; (b) taking or use of all or part of a prize; and (c) any claim by a third party arising from an act or omission by the entrant.</span></li>
						  <li ><span >The Promoter is not liable for any failure to comply with these Terms and Conditions.<span >  </span>If a provision in these Terms and Conditions is held to be illegal, invalid, void, voidable or unenforceable, that provision must be read down to the extent necessary to ensure that it is not illegal, invalid, void, voidable or unenforceable.<span >  </span>If it is not possible to read down a provision as required in this clause, that provision is to be severed to the extent necessary without affecting the validity or enforceability of the remaining part of that provision or the other provisions in these Terms and Conditions, and the rest of these Terms and Conditions remains in full force and effect.</span></li>
						  <li ><span >These Terms and Conditions constitute the entire agreement between the entrant and the Promoter as to its subject matter. The Promoter’s decision regarding all aspects of this promotion is final and no correspondence will be entered into.</span></li>
						  <li ><span >This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook.<span >  </span>Each entrant releases Facebook from all claims relating to this promotion. <span > </span></span></li>
						  <li ><span >The Promoter is Mercedes-Benz Vans Australia Pacific Pty Ltd (ABN 16 618 413 362) of 44 Lexia Place, Mulgrave, Victoria, 3170.</span></li>
						</ol>
						</div>
						</div>
					</div>">here</a>.</p>

			</div>
		</div>

		</div>

	</section>

{% endblock %}

{% block footer %}

	<footer id="footer">
		<div class="container">
			<nav id="site-footer" class="site-footer" role="navigation">
				<div class="columns is-gapless">
					<div class="column">
						<div class="is-hidden-mobile pace-loadin">
							<div class="">
								<div class="site-header-container">
									<ul>
										<li>
											<a href="#" class="is-info doco-button show-modal" data-modal-content="<div class=&quot;embed-container&quot;>
												<div class=&quot;footer-popup&quot;>
													<h2>Mercedes-Benz Vans Australia Pacific Pty Ltd</h2>
													ABN 16 618 413 362<br/>
													44 Lexia Place<br/>
													Mulgrave Victoria 3170</div>
												</div>">© Mercedes-Benz Vans Australia Pacific Pty Ltd</a>
										</li>
										<li>
											<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/cookies-vans.ngrb.html">Cookie Policy</a>
										</li>

										<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-254">
											<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/vans_privacy_statement.ngrb.html">Privacy Policy</a>
										</li>
										<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-255">
											<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/legal-notice-vans.ngrb.html">Legal Notice and Terms</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-narrow">
						<p class="has-text-centered is-hidden-tablet">Follow the X-Class journey on <br>Facebook and Instagram<br><br></p>

						<ul>
							<li><a href="https://www.facebook.com/MercedesBenzVansAustralia/" target="_blank"><img src="https://x-class.com.au/wp-content/themes/xclass/img/social-facebook.svg" alt="Facebook" width="16"></a></li>
							<li><a href="https://www.instagram.com/mercedesbenzvans_au/" target="_blank"><img src="https://x-class.com.au/wp-content/themes/xclass/img/social-instagram.svg" alt="Instagram" width="16"></a></li>
							<li><a href="https://www.youtube.com/channel/UCxQILZxkM4jUq9-nP1nn3kg" target="_blank"><img src="https://x-class.com.au/wp-content/themes/xclass/img/social-youtube.svg" alt="Youtube" width="16"></a></li>
						</ul>
					</div>
				</div>

				<div class="site-header-container is-hidden-tablet">
					<ul>
						<li>
							<a href="#" class="is-info doco-button show-modal" data-modal-content="<div class=&quot;embed-container&quot;>
								<div class=&quot;footer-popup&quot;>
									<h2>Mercedes-Benz Vans Australia Pacific Pty Ltd</h2>
									ABN 16 618 413 362<br/>
									44 Lexia Place<br/>
									Mulgrave Victoria 3170</div>
								</div>">© Mercedes-Benz Vans Australia Pacific Pty Ltd</a>
						</li>
						<li>
							<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/cookies-vans.ngrb.html">Cookie Policy</a>
						</li>

						<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-254">
							<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/vans_privacy_statement.ngrb.html">Privacy Policy</a>
						</li>
						<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-255">
							<a target="_blank" href="https://www.mercedes-benz.com.au/content/australia/mpc/mpc_australia__website/en/home_mpc/legal-notice-vans.ngrb.html">Legal Notice and Terms</a>
						</li>
					</ul>
				</div>

				<!-- Copyright 2018 -->
			</nav>
		</div>
	</footer>

	{{ function('wp_footer') }}

{% endblock %}
